body {
    background-color: rgb(99, 99, 255);
    margin: 0;
    overflow: hidden;
}

#navbar {
    justify-content: space-between;
    display: flex;
    font-size: small;
}

#navbar > button {
    font-size: clamp(6px, 1em, 2.5vw );
    background-color: rgb(144, 144, 169);
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    min-width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

#navbar > button:hover {
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    width: 100%;
}

/* #menuPageContentContainer {
    background-color: black;
    height: 0;
    width: 100%;
    overflow-y: hidden;
    transition: height .15s ease-in;
} */

#menuPageContentContainer {
    background-color: white;
    /* background-color: red; */
    /* height: 100vh; */
    /* width: 0; */
    height: 0;
    width: 100vw;
    /* transition: width .5s; */
    transition: height .25s ease-in-out;
    overflow: hidden;
}